<h1>Destination#Index</h1>

<% if @destinations.length == 0 %>
    No Destinations Yet
<% else %>
    <% @destinations.each do |d| %>
        <%= d.city_country %><br>
      
    <% end %></br>
<% end %>