<h3>Hello Traveller!</h3>
        <h4>Welcome to</h4> 
                <h1>- Been There Pin That -</h1>

        
        <%= button_to 'Log In', login_path, :method => :get %> 
        <%= button_to 'Sign Up', signup_path, :method => :get %>
        
        </br>
        <%= button_to "Log In with Google", "/auth/google_oauth2" %>
